<head>
  <meta charset="utf-8">
  <title>{{ siteTitle }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css ">
  <link rel="stylesheet" href="plugins/slick/slick.css ">
  <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css ">
  <link rel="stylesheet" href="css/style.min.css" media="screen">
  <link rel="shortcut icon" href="images/favicon.png " type="image/x-icon">
  <link rel="icon" href="images/favicon.png " type="image/x-icon">
</head>
